<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="email-container">
        <img class="rocket-gif" src="https://media-hosting.imagekit.io//43459721a1be46dc/06-27-17-124_512-ezgif.com-webp-to-gif-converter.gif?Expires=1836737115&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=FMpAUaPK2S6UJEB3WOYhGfUaOxzwCKLfhxm7NJX3lU4WSm~JiSvYWhb-eMxI-yEroGZF~hhJwCyrCxDhPVqvJDGD4qdjejfpv5Jh0KC5sBBZwEQdWdlALgw-X5ZlW1gW5V1AENT2jzNXnrX0miC6wL5YgNQiTnR7pBz0JTpk9e9NrjS6-Wkhu3GIXCTzPNSFoDnS4dpHcdFQw1wL4b3znMxzIS7jklP3P7dtkihBw2Q0F6aFye55ES8VDxpIILjfYmYRp4rKfHqxOeheTeRl~~xGwN~Pex9WFuMb44dhZTHq~2YMxi8YW~NgDooth8dKKi7BVW-NvfZYsgGFQOAnKQ__" alt="Rocket">
        
        <div class="title">Updates Of Upcoming Rocket Launches</div>
        <div class="description">What's new?</div>

        <!-- Launch List Injected Here -->
        {{LaunchesList}}

        <div class="footer">Best regards, <br> Rocket Launch Notifier</div>
    </div>
</body>
</html>
